<!DOCTYPE html>
<html lang="tr">
<head>
<meta charset="UTF-8">
<title>3 Kutu Ödev</title>

<style>
  body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    
  }

  .ana{
    display: flex;
    gap: 20px;
  }

  .kutu{
    width: 300px;
    height: 400px;
    border: 5px solid pink;
    padding: 10px;
    box-sizing: border-box;
    background-color: beige;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  img{
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
</style>
</head>

<body>

<div class="ana">

  <div class="kutu">
    <img src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f">
    <h3>Web Tasarım</h3>
    <p>Web sitelerinin görsel ve kullanıcı dostu şekilde tasarlanmasıdır.</p>
  </div>

  <div class="kutu">
    <img src="https://images.unsplash.com/photo-1518770660439-4636190af475">
    <h3>Yazılım</h3>
    <p>Bilgisayarların belirli görevleri yapmasını sağlayan kodlamadır.</p>
  </div>

  <div class="kutu">
    <img src="https://images.unsplash.com/photo-1517433456452-f9633a875f6f">
    <h3>Teknoloji</h3>
    <p>Hayatı kolaylaştıran dijital araç ve sistemlerin bütünüdür.</p>
  </div>

</div>
